.active-song-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 4rem;
  gap: 2rem;
}

.image-wrapper {
  width: 500px;
  height: 500px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.active-song-info p {
  margin: 0;
}

.active-song-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-album-info .artist {
  font-size: xx-large;
  letter-spacing: 0.1rem;
}

.active-album-info .title {
  text-align: center;
  font-size: x-large;
}

.font-size-30 {
  font-size: 30px;
}
