.controls {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.center-controls {
  margin-inline: 2rem;
  display: flex;
  align-items: center;
}

.play_circle {
  margin-inline: 1rem;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-50 {
  font-size: 50px;
}
