.song {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #31363f;
}

.song .image-wrapper {
  width: 90px;
  height: 90px;
  border: 1px solid white;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1rem;
}

.artist {
  font-weight: bolder;
  margin: 0;
  padding-bottom: 0.3rem;
}

.title {
  color: whitesmoke;
  margin: 0;
}

.icon-wrapper {
  margin-left: auto;
}
