.timeline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.bar-wrapper {
  flex: 1;
  height: 4px;
  background-color: #eee;
  border-radius: 25px;
}

.bar {
  width: 25%;
  background-color: #76abae;
  height: 4px;
  border-radius: 25px;
}
